
body {
  box-sizing: border-box; 
  font-size: 16px;
}
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
      .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
      .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      .container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .container {
        max-width: 1140px; } }
.navbar-brand {
  font-size: 2.25rem !important;
  color:#452268 !important; }

header {
  background-image: url("../image/banner.png"); 
  padding-top: 50px;
  min-height: 800px;
  background-position: center;
  background-size: cover;}
  @media screen and (min-width: 576px) {
    .navbar-nav{
      margin-left: 0px;
    }
  }
  @media (min-width : 1200px){
    .navbar-nav {
      margin-top: 5px;
      margin-left: 102px; }
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #ABADAE; }
  .navbar-nav .nav-item .active-link {
    color: #0A4065 }
  .title-header {
    font-size: 3.56rem;
    color: #255A7E;
    line-height: 4.2rem;
    margin-top: 160px; }
  .header-description {
    color: #506D82; }
  .btn-header {
    align-items: baseline;
    display: flex; }
  header .btn-order {
   background-color: #F98169;
    border: none;
    border-radius: 0;
    padding: 15px 50px;
    font-size: 1.13rem; 
  box-shadow: 0 8px 16px 0 #f7b9a9, 0 6px 20px 0 #f6d3c6;}
  header .btn-order:hover {
    background-color: #f5a899; }
  .btn-header .text-watch {
    font-size: 1.13rem;
    color: #7E9099 !important;
    cursor: pointer; }
  header .text-watch:hover{
    color:  #7E9099;
  }
  header .btn-play {
    font-size: 1.13rem;
    background-color: #F98169;
    box-shadow: 0 8px 16px 0 #f7b9a9, 0 6px 20px #f6d3c6;
    border: none;
    border-radius: 100%;
    color: #FFF0ED;
    padding: 18px 7px 15px 18px;
    outline: none !important; }
  header .btn-play:hover {
    color: #FFF0ED;
    background-color: #f5a899; }
  footer{
    background-image:url('../image/banner-footer2.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position:780px 380px;
  }
  .footer-top{
    background: url("../image/footer-banner1.png") no-repeat center center;
    background-size: cover;
    background-position: bottom;
    height: 600px;
  }
  @media (min-width : 576px){
    .footer-top {
      padding-top: 100px;
     }
  } 
  @media (min-width : 1200px){
    .footer-top {
      padding-top: 180px;
      padding-left: 130px;
      padding-right: 130px;
     }
  } 
  
  @media (min-width : 576px){
    .contact-box{
      height: 300px;
    }
  }
  @media (min-width : 1200px){
    .contact-box{
    height: 338px;
    padding: 50px 160px 50px 160px;
    }
  }
    
  .contact-box {
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px 0 #F4F7FA, 0 6px 20px #FFFFFF;
  }
  .mail-box {
    text-align: center;
    margin: auto;
  }
  .mail-box-des{
    font-family: Georgia;
  }
  @media (min-width : 576px){
    .mail-box-des{
      margin-bottom: 10px;
      font-size: 1.25rem;
    }
  }
  @media (min-width : 1200px){
    .mail-box-des{
      margin-bottom: 50px;
      font-size: 2.25rem;
    }
  }
  .input-group-lg > .form-control{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    background-color: #F9FBFB;
    border-radius: 1rem;
    height: 4.25rem !important;
  }
  @media (min-width : 576px){
  }
  @media (min-width : 1200px){
    .input-group-text{
      width: 250px;
      padding-left: 100px;
    }
  }
  .input-group-text{
    background-color: #F98169;
    border-radius: 0rem 1rem 1rem 0rem !important;
    text-align: center;
  }
  .footer-bot{
    height: 300px;
  }
  #footer-text{
    padding-top: 10px;
    font-size: 1.25rem;
    letter-spacing: 1rem;
  }
  #footer-cap{
    margin-top: 100px;
    font-family: Regular;
    color: #ABADAE;
  }
 
  